/* body{
    overflow: auto;
} */
.site-inline {
    font-size: 0;
}
.layui-main {
    width: 1111px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}
.site-tree {
    border-right: 1px solid #eee;
    overflow: auto;
}
.site-tree {
    width: 220px;
    padding: 5px 0 20px;
}
.site-tree, .site-content {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
.site-content {
    width: 870px;
    min-height: 300px;
    padding: 20px 0 10px 20px;
}
.site-tree .layui-tree li h2 {
    line-height: 36px;
    border-left: 5px solid #3b85c8;
    margin: 15px 0 5px;
    padding: 0 10px;
    background-color: #f2f2f2;
}
.site-tree .layui-tree {
    line-height: 32px;
    padding:0px;
}
h1, h2, h3 {
    font-size: 14px;
}
.site-tree .layui-tree li a cite {
    padding: 0 8px;
}
.layui-tree li a cite {
    padding: 0 6px;
    font-size: 14px;
    font-style: normal;
}
.site-tree .layui-tree .layui-this a {
    color: #01AAED;
}
.layui-tree li a {
    font-size: 0;
}
.layui-tree li .layui-tree-spread, .layui-tree li a {
    display: inline-block;
    vertical-align: top;
    height: 26px;
    cursor: pointer;
}
.site-tree .layui-tree .site-tree-noicon a cite {
    padding-left: 15px;
}
a {
    color: #333;
    text-decoration: none;
}
.layui-head{
    text-align: center;
    padding: 20px 10px 10px 10px;    
}
.layui-head li{
    padding-top:10px;
}
.layui-head img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.layui-head span{
    font-weight: bold;
    color: #222;
    margin-top: 10px;
}
h2{
    text-align: left;
}